@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Golos Text', sans-serif;
  --font-display: 'Unbounded', sans-serif;
}

@keyframes float {
  0%, 100% { transform: translateY(0) rotate(-8deg); }
  50% { transform: translateY(-10px) rotate(4deg); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
